html {
  /* background-color: #0072BB;
  background-image: -webkit-linear-gradient(65deg, #1E91D6 50%, #0072BB 50%); */
  background: rgb(30,145,214);
  background-image: -webkit-linear-gradient(111deg, rgba(30,145,214,1) 35%, rgba(17,86,130,1) 65%);
  background: -o-linear-gradient(111deg, rgba(30,145,214,1) 35%, rgba(17,86,130,1) 65%);
  background: linear-gradient(201deg, rgba(30,145,214,1) 35%, rgba(17,86,130,1) 65%);

  min-height: 1000px;
  /* font-family: 'helvetica neue'; */
  font-family: 'Neucha', cursive;

}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #1E91D6;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p { /* +p - all of p elements that come after a checked-box input */
  text-decoration: line-through;
  text-decoration-color: #1E91D6;
}

input[type="checkbox"] { /* particular type of input - in this case -> checkbox's */
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #1E91D6;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #1E91D6;
}

input[type="text"]
{
    font-family: 'Neucha', cursive;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
